<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
		<aspNetCore processPath="dotnet" arguments=".\HxCore.WebApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
			<!--<environmentVariables>
				<environmentVariable name="AppSettings_UseIdentityServer4" value="false" />
			</environmentVariables>-->
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: F250ED18-37AE-4989-A2A2-A94FD875226D-->