@{
    ViewData["Title"] = ViewBag.Description;
}

<div style="text-align:center;margin-top:50px;">
    <img src="~/images/logo.png" style="height:100px;" />
    <p>@ViewBag.Description</p>
    <p><a href="/kapi">KAPI 接口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/api">API 接口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://gitee.com/songtaojie/blog-server" target="_blank">源码地址</a></p>
</div>