@inherits LayoutComponentBase
<div class="container">
    @if (ErrorEnum == Error_Enum.Error401)
    {
        <img src="images/404.png" />
    }
    else if (ErrorEnum == Error_Enum.Error404)
    {
        <img src="images/401.png" />
    }
    else
    {
        <img src="images/500.png" alt="Card image" style="width:100%">
    }
</div>
@code {
    [Parameter]
    public Error_Enum ErrorEnum { get; set; }

    public enum Error_Enum
    {
        Error401,
        Error404,
        Error500
    }
}
