<header class="fixed-top hx-header bg-dark">
    <nav class="mx-auto py-0 justify-content-center d-flex">
        @*<button class="navbar-toggler thin-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="hx-navbar-toggler-icon"></span>
        </button>*@
        <div class="hx-logo mx-auto ml-md-0 mr-md-5">
            <a class="text-white" href="/">
                海·星の博客
            </a>
        </div>
        <ul class="nav navbar-nav flex-grow-0 flex-row">
            <li class="nav-item  active">
                <a class="text-white px-3" href="index.html">网站首页</a>
            </li>
            <li class="nav-item">
                <a class="text-white px-3" href="about.html">关于我</a>
            </li>
            <li class="nav-item">
                <a class="text-white px-3" href="share.html">模板分享</a>
            </li>
            <li class="nav-item">
                <a class="text-white px-3" href="list.html">博客日记</a>
            </li>
        </ul>
    </nav>
</header>
