a {
    text-decoration: none;
    color: #555;
}

.hx-header {
    height: 3.75rem;
    text-align: center;
}

    .hx-header::before {
        background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
        content: "";
        height: 5px;
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
    }

    .hx-header nav {
        width: 1140px;
        line-height: 2.75em;
        position: relative;
    }
.hx-logo {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2.5em;
}
    .hx-logo a {
        color: #00c1de;
    }
.nav-item {
    font-size: 1em;
}
::deep .nav-link.active,
::deep .nav-link:hover {
    color: #00c1de !important;
    background-color: transparent;
}
