/************************博客首页*******************************/
/**博客内容**/
.blog-container {
    transform: translate3d(6.5rem,3rem,0);
    -ms-transform: translate3d(6.5rem,3rem,0); /* IE 9 */
    -moz-transform: translate3d(6.5rem,3rem,0); /* Firefox */
    -webkit-transform: translate3d(6.5rem,3rem,0); /* Safari 和 Chrome */
    -o-transform: translate3d(6.5rem,3rem,0); /* Opera */
    max-width: calc(100% - 6.5rem);
}

.blog-list {
    background: none transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
}

.blog-item {
    padding: 1rem 1.5rem;
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    min-height: 0;
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .1s ease;
    transition: -webkit-box-shadow .2s ease;
    -webkit-transition: -webkit-box-shadow .2s ease;
}

.blog-item-content {
    background: 0 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
    width: 100%;
}

.blog-item-summary {
    margin-bottom: .35rem;
    color: #999;
    font-size: 1em;
    line-height: 2.1rem;
}

.blog-content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .blog-content-nowrap p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.blog-item-title {
    width: 100%;
}

    .blog-item-title a {
        color: #3d3d3d;
        font-weight: 700;
    }

        .blog-item-title a:hover {
            color: #4183c4;
            text-decoration: none;
        }

.blog-item-user {
    margin: .5rem 0 0;
    color: rgba(0,0,0,.4);
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: color .1s ease;
    -webkit-transition: color .1s ease;
}

.blog-read-num,
.blog-comment-num {
    color: #3399ea;
}

.blog-read-text,
.blog-comment-text {
    color: #8a8a8a;
}

.blog-read:hover .hx-text-gray,
.blog-comment:hover .hx-text-gray {
    color: #157dcf;
}
