<aside class="hx-aside">
    <div class="ml-sm-1 p-1 mt-sm-0 hx-about-me">
        <h2 class="mx-2 my-3 about-header">关于我</h2>
        <p>网名：演绎~陌路离殇</p>
        <p>职业：Web前端设计师、后端开发</p>
        <p>现居：河南省-郑州市</p>
        <p>Email：stjworkemail@163.com</p>
        <div class="d-none d-md-flex align-items-center justify-content-around">
            <a class="about-info" href="/" target="_blank" title="网站地址">
                <i class="hx-icon-home hx-3x text-info"></i>
            </a>
            <a class="about-info"
               href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=977601042@qq.com"
               target="_blank"
               title="邮箱">
                <i class="hx-icon-email hx-3x hx-text-orange"></i>
            </a>
            <a class="about-info" href="#" target="_blank" title="QQ">
                <i class="hx-icon-qq hx-3x text-info"></i>
            </a>
            <a class="about-info" href="#" target="_blank" title="微信">
                <i class="hx-icon-weixin hx-3x hx-text-green"></i>
            </a>
        </div>
    </div>
</aside>

